* {
    padding: 0px;
    margin: 0px;
}

.bg-box {
    width: 100vw;
    height: 100vh;
}

.form-box {
    border-radius: 10px;
}

.error-msg {
    color: tomato;
}

.successfull-submitaion {
    color: blue;
}