* {
    padding: 0px;
    margin: 0px;
}

.main-heading {
    color: rgba(36, 75, 182, 0.8);
    font-family: Arial, Helvetica, sans-serif;
}

.bg-container {
    background-color: bisque;
    width: 100vw;
    height: 100vh;
}

.box {
    background-color: white;
    border-radius: 3px;
    transition-duration: 1s;
}

.box-heading {
    color: #1f2933;
    outline: none;
    font-style: italic;
}

.box-subtitle {
    color: #323f4b;
    letter-spacing: 1.3px;
    line-break: normal;
    font-weight: 500;
}

.box:hover {
    background-color: rgb(182, 224, 235);
}

a:hover {
    text-decoration: none;
}