* {
    padding: 0px;
    margin: 0px;
}

.movie-bg-container {
    background-color: bisque;
    width: 100vw;
    height: 100vh;
}

.poster {
    width: 100%;
    height: 50%;
}

.movie-card {
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    transition-duration: 2s;
    background-color: floralwhite;
}

.list-actors {
    border-width: 10px;
    border-color: brown;
}

.movie-card:hover {
    background-color: cornsilk;
}

#addMovieButton,
.icon:hover {
    cursor: pointer;
}

#addMovieHyper:hover {
    background-color: cadetblue;
}

#popUpName {
    font-size: 27px;
    color: rgb(37, 20, 110);
}