* {
    padding: 0px;
    margin: 0px;
}

.bg-container {
    background-color: bisque;
    width: 100vw;
    height: 100vh;
}

.each-card {
    border-radius: 3px;
}

.person-name {
    color: crimson;
}